＃コンパイルされたソース＃
＃ ##################
*.com
*.class
*.dll
*.exe
*.o
*.so

＃パッケージ＃
＃ ###########
＃これらのファイルを解凍して、生のソースをコミットすることをお勧めします
＃ gitがあり、独自の圧縮方法で構築
* .7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.json
*.ts
LICENSE

＃ログとデータベース＃
＃ #####################
*.log
*.sql
*.sqlite
*.xml

＃ OS生成されたファイル＃
＃ #####################
.DS_Store
.DS_Store ？
._ *
.Spotlight-V100
。ゴミ箱
ehthumbs.db
Thumbs.db
